.header {
background-color:#1f2937;
font-family:sans-serif;
padding-left:180px;
padding-right:180px;
padding-bottom:100px;
}
.main {
font-size:48px;
font-weight:800;
color:#F9FAF8;
}
.secondary {
font-size:18px;
color:#E5E7EB;
}
.logo {

color:#F9FAF8;
width:150px;
height:80px;
}
.button {
background-color:#3882F6;
color:#F9FAF8;
border-color:white;
font-size:20px;
border-width:1px;
border-radius:5px;
width:150px;
height:35px;
}
.first {
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
}
.middle {
font-family:sans-serif;
}
.infoheader {
font-size:36px;
font-weight:800;
color:#1F2937;
}
.middleflex {
display:flex;
flex-direction:column;
align-items:center;
}
.middlesubflex {
display:flex;
align-items:center;
padding:100px;
}
.end{
background-color:#E5E7EB;
display:flex;
gap:0px;
padding:60px;
justify-content:center;

}
.quote {
font-style:italic;
font-weight:300;
font-size:36px;
color:#1F2937;
}
.theend {
background-color:#3882F6;
text-align:center;
color:#F9FAF8;
display:flex;
flex-wrap:wrap;
padding:40px;
border-radius:5px;
justify-content:center;
align-items:center;
}
.footer {
color:#F9FAF8;
display:flex;
justify-content:center;
padding:50px;
}
.wrapper {
display:flex;
flex-wrap:wrap;
width:400px;
}
.flexspace{
display:flex;
justify-content:center;
align-self:flex-end;
}
.endwrapper{
display:flex;
flex-wrap:wrap;
width:800px;
}
.thorwrapper{
display:flex;
justify-content:space-between;
align-items:space-between;
align-self:flex-end;
}
.signup {
display:flex;
justify-content:center;
align-self:flex-end;
padding:15px;
}
signup2 {
display:flex;
flex-direction:column;
justify-content:center;
align-self:flex-end;
}

headpartwrapper{
display:flex;
}
.imgwrapper{
display:flex;
justify-content:center;
align-items:center;
flex-wrap:wrap;
width:250px;
height:125px;
}
.midwrapper{
display:flex;
justify-content:space-evenly;

}
.twowrap {
display:flex;
flex-direction:column;
flex-wrap:wrap;
width:750px;
}
.headlink{
display:flex;
justify-content:space-between;
}